/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/********** FONT **********/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.info{
    font-size: 24px;
    padding-top: 20px;
}

.info2 {
    font-size: 21px;
    padding-top: 20px;

}


/********** POSITIONING **********/

/***** NAV BAR & LOGO *****/
.navbar-nav > li {
  padding-left:30px;
  padding-right:30px;
  font-size: 30px;
}

.img-fluid {
    padding-top: 30px;
}

#logo {
    right:25%;
    top:0px;
    width:80%;
    height:auto;
}

.navbar {
    overflow: hidden;
    top: 0;
    width: 100%; 
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

header {
    margin: 0px;
}

/***** HOME *****/
.location {
    padding-bottom: 20px;
}


/***** GALLERY *****/
h4 {
    margin-bottom: 20px;
}


/***** SIGN UP *****/
form {
    width: 23em;
    margin: 0 auto;
    border : 3px solid white;
    padding : 20px;
}

.form-group-space {
    padding-top: 20px;
}

.other-info {
    margin-bottom: 20px;
}


/***** FOOTER *****/
footer {
    padding-top: 20px;
    font-size: 17px;
}

.links {
    font-size: 35px;
    padding-top: 35px;
}

.social-icon {
    margin: 0 20px;
}


/********** ZOOM EFFECT **********/
.img-hover-zoom {
    overflow: hidden;
}

.img-hover-zoom img {
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.img-hover-zoom:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); 
}


/********** COLOUR **********/

body {
    background-color: black;
    color: white;
}

.hr1 {
    border: 1px solid red;
}

.hr2 {
    border: 1px solid #569CFF;
}


/***** HEADER *****/
header {
    background-color: black;
}

.nav-link {
    color: white;
}

.navbar a:hover {
    background: #569CFF;;
    color: black;
}

.navbar a {
    color: #f2f2f2;
}

.navbar {
    background-color: black;
}


/***** SIGN UP *****/
button {
    color: white;
}


/***** FOOTER *****/
footer {
    background-color: black;
    color: white;
}

.social-icon {
    color: white;
}